html body{
    width:100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(#fd69dd, #d7f780);
    overflow-x: hidden;
}
header{
    background: linear-gradient(#f7c080, #fd69dd50);
    height: 70px;
}
.menu{
    width:100vw;
    display: flex;
    float: left;
    justify-content: space-around;
}
.navegadores{
    padding-top:1.3%;
    text-align: center;
    font-size: 23px;
}
.logo{
    padding-top:1.3%;
    text-align: center;
    font-size: 30px;
}
.menuderedes{
    padding-top:1.3%;
    text-align: center;
    font-size: 30px;
}
a:hover{
    opacity: 0.9;
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
}
main h1{
    text-align: center;
}
main div{
    text-align: justify;
}
.sitecentertext{
    text-align: center;
}
.hoverstyle:hover{
    opacity: 0.70;
    font-size: 35px;
    color: #ff0000;
}
.imagemline{
    height: 10px;
    width: 100%;
    background-image: url(spacerun.jpg)
}
.linhatopo{
    background: white;
    height: 2px;
}
a{
    color:black;
}
@media (max-width: 540px){
    main{
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        text-align: center
    }
}
@media (max-width: 520px){
    main{
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        text-align: center;
    }
    header{
        width: 100%;
        display: flex;
        float: left;
        justify-content: space-around;
    }
    .imagemline{
        display: flex;
        position: absolute;
        height: 10px;
        width: 100%;
        background-image: url(spacerun.jpg);
        border: 8px solid red;

    }
    h1{
        height: 50px;
        margin-bottom: 60px;
        font-size: 25px;
    }
    .title2{
        height: 30px;
        margin-bottom: 30px;
        font-size: 25px;
    }
}